#about .about_wrap {
  margin: 120px 0 115px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#about .about_wrap .left_col {
  width: 35%;
  max-width: 380px;
  position: relative;
}
#about .about_wrap .left_col img {
  width: 100%;
}
#about .about_wrap .left_col .title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 75px;
  left: 0;
}
#about .about_wrap .left_col .title svg {
  margin-bottom: 13px;
}
#about .about_wrap .right_col {
  width: 56%;
  max-width: 635px;
  padding: 70px 10px 0 0;
}
#about .about_wrap .right_col p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
#about .about_wrap .right_col p:first-of-type {
  padding-bottom: 23px;
}
#about .about_wrap .right_col p:last-of-type {
  padding-bottom: 85px;
}
#about .about_wrap .right_col p .bold_span {
  font-weight: bold;
}
#about .about_wrap .right_col p .italic_span {
  font-style: italic;
  font-weight: 400;
}
#about .about_wrap .right_col .button_wrap {
  display: flex;
  justify-content: center;
}
#about .about_wrap .right_col .button_wrap a {
  text-align: center;
  color: #7d7a7c;
  border: 1px solid #7d7a7c;
  transition: all ease 0.3s;
}
#about .about_wrap .right_col .button_wrap a:hover {
  border-radius: 30px;
  border: 1px solid #9f9acf;
  background-color: #fff;
  color: #9f9acf;
}
#services .service_wrap {
  display: grid;
  grid-template-columns: 33% 33% 36%;
  grid-template-rows: repeat(2, 1fr);
  background-color: #ebebeb;
  text-align: center;
}
#services .service_wrap .block {
  padding: 95px 0 130px;
}
#services .service_wrap .block svg,
#services .service_wrap .block img {
  margin-bottom: 15px;
}
#services .service_wrap .block h5 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 45px;
}
#services .service_wrap .block p,
#services .service_wrap .block blockquote {
  width: 55%;
  margin: 0 auto;
  font-style: italic;
}
#services .service_wrap .b1,
#services .service_wrap .b5 {
  background-color: #dbdbdb;
}
#services .service_wrap .b3 {
  padding-top: 115px;
  background-image: url(../images/services-min.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  grid-column: 3;
  grid-row: 1 / span 3;
  color: #fff;
}
#services .service_wrap .b3 svg {
  margin-bottom: 2px;
}
#services .service_wrap .b3 h4 {
  padding-bottom: 80px;
}
#services .service_wrap .b3 blockquote {
  width: 85%;
}
#services .service_wrap .b3 span {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
#works {
  background-image: url(../images/works-bg-min.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
#works .works_container {
  width: 60%;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
}
#works .works_container .works_wrap {
  text-align: center;
  padding: 55px 0 70px;
}
#works .works_container .works_wrap h4 {
  padding-bottom: 38px;
}
#works .works_container .works_wrap .slider_container {
  position: relative;
  margin-bottom: 26px;
}
#works .works_container .works_wrap .slider_container #lightSlider {
  margin-bottom: 85px;
}
#works .works_container .works_wrap .slider_container #lightSlider li img {
  width: 100%;
}
#works .works_container .works_wrap .slider_container .prev_btn {
  content: '';
  border-bottom: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  position: absolute;
  top: 260px;
  left: -267px;
  padding: 0;
  cursor: pointer;
}
#works .works_container .works_wrap .slider_container .next_btn {
  content: '';
  border-top: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;
  height: 25px;
  width: 25px;
  transform: rotate(45deg);
  position: absolute;
  top: 260px;
  right: -267px;
  padding: 0;
  cursor: pointer;
}
#works .works_container .works_wrap .slider_container .lSPager {
  position: absolute;
  bottom: 30px;
  left: 46%;
}
#works .works_container .works_wrap .slider_container .lSPager li {
  height: 10px;
  width: 10px;
  border: 2px solid #ebebeb;
  border-radius: 50%;
  margin-right: 6px;
  padding: 0;
}
#works .works_container .works_wrap .slider_container .lSPager li.active {
  background-color: #ebebeb;
}
#works .works_container .works_wrap .btn1 {
  color: #fff;
  padding: 11px 45px;
  margin-top: 30px;
  transition: all ease 0.3s;
}
#works .works_container .works_wrap .btn1:hover {
  border-radius: 30px;
  border: 1px solid #9f9acf;
  background-color: #fff;
  color: #9f9acf;
}
#team .team_wrap {
  text-align: center;
  padding: 55px 0 70px;
}
#team .team_wrap h4 {
  color: #665f60;
  margin-bottom: 35px;
  padding-bottom: 0;
}
#team .team_wrap .slider2_container {
  position: relative;
}
#team .team_wrap .slider2_container #lightSlider2 {
  margin: 0 30px;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 {
  width: 30%;
  max-width: 350px;
  height: 480px;
  position: relative;
  background-color: #ebebeb;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap {
  background-color: #fff;
  padding: 140px 0 40px;
  font-size: 24px;
  height: 285px;
  position: absolute;
  bottom: 70px;
  width: 100%;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap .name {
  font-family: 'Proxima Nova Cn Rg';
  color: #9f9acf;
  line-height: 70px;
  text-transform: uppercase;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap .title {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .socials {
  background-color: #9f9acf;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li {
  display: inline-block;
  margin-right: 7px;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li:last-of-type {
  margin-right: 0;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li a img {
  border: 3px solid transparent;
  border-radius: 50%;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li a img:hover {
  border: 3px solid #fff;
}
#team .team_wrap .slider2_container #lightSlider2 .slide2 .round_photo {
  width: 90%;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  max-width: 258px;
  max-height: 258px;
  border: 13px solid #ebebeb;
}
#team .team_wrap .slider2_container .prev_btn2 {
  content: '';
  border-bottom: 2px solid #665f60;
  border-left: 2px solid #665f60;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
  position: absolute;
  top: 275px;
  left: -50px;
  padding: 0;
  cursor: pointer;
}
#team .team_wrap .slider2_container .next_btn2 {
  content: '';
  border-top: 2px solid #665f60;
  border-right: 2px solid #665f60;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
  position: absolute;
  top: 275px;
  right: -60px;
  padding: 0;
  cursor: pointer;
}
#contacts {
  position: relative;
  background-color: #9f9acf;
  overflow: hidden;
}
#contacts #map {
  height: 900px;
  width: 100%;
  z-index: 10;
  position: relative;
  opacity: 0.4;
}
#contacts .contacts_wrap {
  text-align: center;
}
#contacts .contacts_wrap .section_title,
#contacts .contacts_wrap form {
  position: absolute;
  z-index: 2000;
}
#contacts .contacts_wrap .section_title {
  position: absolute;
  top: 55px;
  left: 41%;
  margin: 0 auto;
}
#contacts .contacts_wrap .section_title h4 {
  padding-bottom: 0;
}
#contacts .contacts_wrap form {
  width: 65%;
  top: 440px;
  left: 18%;
}
#contacts .contacts_wrap form .form_wrap {
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
#contacts .contacts_wrap form .form_wrap input {
  width: calc(50% - 15px);
  margin-bottom: 25px;
}
#contacts .contacts_wrap form .form_wrap textarea {
  width: 100%;
  margin-bottom: 60px;
  height: 40vh;
  max-height: 200px;
  resize: none;
}
#contacts .contacts_wrap form .form_wrap input,
#contacts .contacts_wrap form .form_wrap textarea {
  padding: 15px 25px;
  border: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
#contacts .contacts_wrap form .form_wrap input::placeholder,
#contacts .contacts_wrap form .form_wrap textarea::placeholder {
  color: #fff;
}
#contacts .contacts_wrap form .form_wrap .btn_wrap {
  margin: 0 auto;
  border-radius: 4px;
  border-bottom: 4px solid #9490b7;
}
#contacts .contacts_wrap form .form_wrap .btn_wrap:hover {
  border: none;
}
#contacts .contacts_wrap form .form_wrap .btn_wrap .btn2 {
  font-family: 'Proxima Nova Cn Rg';
  font-size: 20px;
  background-color: #9f9acf;
  border: none;
  outline: none;
  padding: 20px 70px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.2s;
}
#contacts .contacts_wrap form .form_wrap .btn_wrap .btn2:hover {
  border-radius: 30px;
  border: 1px solid #9f9acf;
  background-color: #fff;
  color: #9f9acf;
}
#contacts .top_btn {
  height: 90px;
  width: 90px;
  background-color: rgba(159, 154, 207, 0.7);
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 2000;
}
#contacts .top_btn span {
  content: '';
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  z-index: 2000;
  position: absolute;
  right: 30px;
  bottom: 25px;
}
#contacts .top_btn:hover {
  background-color: #918CC2;
}
#contacts .btn3_wrap {
  height: 90px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 220px;
  right: -260px;
  z-index: 2000;
  transition: all ease 0.3s;
}
#contacts .btn3_wrap .btn3 {
  width: 27%;
  height: 100%;
  max-width: 90px;
  background-color: #9f9acf;
  padding-top: 25px;
  cursor: pointer;
}
#contacts .btn3_wrap .btn3:hover {
  background-color: #918CC2;
}
#contacts .btn3_wrap .info_btn {
  width: 73%;
  padding: 0 35px;
}
#contacts .btn3_wrap.active {
  right: 0;
}
#contacts .wrap2 {
  top: 310px;
}
footer {
  background-color: #9f9acf;
}
footer .footer_wrap {
  padding: 80px 30px 80px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrap span {
  color: #fff;
}
footer .footer_wrap .social_wrap ul li {
  display: inline-block;
  padding-right: 14px;
}
footer .footer_wrap .social_wrap ul li:last-of-type {
  padding-right: 0;
}
footer .footer_wrap .social_wrap ul li a img {
  border: 3px solid transparent;
  border-radius: 50%;
}
footer .footer_wrap .social_wrap ul li a img:hover {
  border: 3px solid #fff;
}
@media screen and (max-width: 1280px) {
  #works .works_container .works_wrap .slider_container .prev_btn {
    left: -150px;
  }
  #works .works_container .works_wrap .slider_container .next_btn {
    right: -150px;
  }
}
@media screen and (max-width: 1121px) {
  #works .works_container .works_wrap .slider_container .prev_btn {
    top: 190px;
    left: -100px;
  }
  #works .works_container .works_wrap .slider_container .next_btn {
    top: 190px;
    right: -100px;
  }
  #services .service_wrap .block h5 {
    font-size: 22px;
  }
  #services .service_wrap .block p,
  #services .service_wrap .block blockquote {
    width: 85%;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li {
    margin-right: 2px;
  }
  #contacts .contacts_wrap .section_title {
    left: 37%;
  }
}
@media screen and (max-width: 903px) {
  h4 {
    line-height: 85px;
    font-size: 28px;
    padding-bottom: 110px;
    text-transform: uppercase;
    color: #fff;
    font-family: "ProximaNova-Semibold";
  }
  #about .about_wrap .right_col {
    padding-top: 0;
  }
  #about .about_wrap .right_col p:last-of-type {
    padding-bottom: 45px;
  }
  #services .service_wrap .block {
    padding: 55px 0 100px;
  }
  #services .service_wrap .block h5 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 45px;
  }
  #services .service_wrap .block span {
    font-size: 16px;
  }
  #works .works_container .works_wrap .slider_container .prev_btn {
    top: 130px;
    left: -80px;
  }
  #works .works_container .works_wrap .slider_container .next_btn {
    top: 130px;
    right: -80px;
  }
  #team .team_wrap .slider2_container #lightSlider2 {
    margin: 0;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 {
    height: 400px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap {
    padding: 70px 0 40px;
    font-size: 20px;
    height: 205px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials {
    line-height: 40px;
    bottom: 30px;
    padding-top: 10px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li {
    display: inline-block;
    margin-right: 4px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li a img {
    width: 30px;
    height: 30px;
  }
  #team .team_wrap .slider2_container .prev_btn2 {
    height: 24px;
    width: 24px;
    top: 190px;
    left: -30px;
  }
  #team .team_wrap .slider2_container .next_btn2 {
    height: 24px;
    width: 24px;
    top: 190px;
    right: -30px;
  }
  #contacts #map {
    height: 700px;
  }
  #contacts .contacts_wrap form {
    top: 250px;
  }
}
@media screen and (max-width: 760px) {
  h4 {
    line-height: 45px;
    font-size: 22px;
    padding-bottom: 60px;
  }
  .btn1 {
    font-size: 18px;
    padding: 10px 40px;
  }
  #about .about_wrap {
    margin: 60px 0 60px;
  }
  #about .about_wrap .left_col {
    width: 25%;
  }
  #about .about_wrap .left_col .title {
    top: 35px;
  }
  #about .about_wrap .right_col {
    width: 70%;
  }
  #about .about_wrap .right_col p {
    font-size: 18px;
    word-spacing: 3px;
  }
  #about .about_wrap .right_col p:last-of-type {
    padding-bottom: 25px;
  }
  #services .service_wrap .block {
    padding: 35px 0 60px;
  }
  #services .service_wrap .block svg,
  #services .service_wrap .block img {
    margin-bottom: 15px;
  }
  #services .service_wrap .block h5 {
    font-size: 16px;
    line-height: 35px;
  }
  #services .service_wrap .block p,
  #services .service_wrap .block blockquote {
    width: 85%;
    font-size: 14px;
  }
  #services .service_wrap .b3 h4 {
    padding-bottom: 60px;
  }
  #services .service_wrap .b3 blockquote {
    width: 90%;
  }
  #services .service_wrap .b3 span {
    font-size: 14px;
  }
  #works .works_container .works_wrap {
    padding: 30px 0 40px;
  }
  #works .works_container .works_wrap .slider_container .prev_btn {
    top: 100px;
  }
  #works .works_container .works_wrap .slider_container .next_btn {
    top: 100px;
  }
  #works .works_container .works_wrap a {
    color: #fff;
    padding: 11px 45px;
    margin-top: 15px;
    transition: all ease 0.3s;
  }
  #works .works_container .works_wrap a:hover {
    border-radius: 30px;
    border: 1px solid #9f9acf;
    background-color: #fff;
    color: #9f9acf;
  }
  #team .team_wrap {
    padding: 0;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 {
    height: 445px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap {
    padding: 120px 0 0;
    font-size: 18px;
    height: 230px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .name_wrap .name {
    line-height: 32px;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li {
    margin-right: 7;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 .socials ul li a img {
    width: 35px;
    height: 35px;
  }
  #contacts #map {
    height: 630px;
  }
  #contacts .contacts_wrap form {
    top: 210px;
  }
  #contacts .contacts_wrap form .form_wrap input {
    width: 100%;
  }
  #contacts .contacts_wrap form .form_wrap textarea {
    margin-bottom: 30px;
    max-height: 150px;
  }
  #contacts .contacts_wrap form .form_wrap .btn_wrap .btn2 {
    font-size: 16px;
    padding: 15px 40px;
  }
  #contacts .top_btn {
    height: 60px;
    width: 60px;
    right: 10px;
    bottom: 30px;
    z-index: 2000;
  }
  #contacts .top_btn span {
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 15px;
  }
  #contacts .btn3_wrap {
    height: 60px;
    width: 320px;
  }
  #contacts .btn3_wrap .btn3 {
    width: 20%;
    padding-top: 12px;
  }
  #contacts .btn3_wrap .info_btn {
    font-size: 16px;
  }
  #contacts .wrap2 {
    top: 280px;
  }
  footer .footer_wrap {
    padding: 30px 30px 30px;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_wrap span {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 530px) {
  h4 {
    padding-bottom: 40px;
  }
  .btn1 {
    font-size: 18px;
    padding: 10px 40px;
  }
  svg {
    width: 35px;
    height: 39px;
  }
  #about .about_wrap {
    flex-direction: column;
    margin: 60px 0 60px;
  }
  #about .about_wrap .left_col {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  #about .about_wrap .left_col img {
    height: 120px;
  }
  #about .about_wrap .left_col .title {
    top: 15px;
  }
  #about .about_wrap .right_col {
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
  }
  #about .about_wrap .right_col p {
    font-size: 16px;
    word-spacing: 2px;
  }
  #services .service_wrap {
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr repeat(4, 1fr);
  }
  #services .service_wrap .block {
    padding: 25px 0 20px;
    grid-column: 1;
  }
  #services .service_wrap .block svg,
  #services .service_wrap .block img {
    margin-bottom: 10px;
  }
  #services .service_wrap .block h5 {
    font-size: 16px;
    line-height: 35px;
  }
  #services .service_wrap .block p,
  #services .service_wrap .block blockquote {
    width: 90%;
    font-size: 16px;
  }
  #services .service_wrap .b1 {
    grid-row: 2 / span 3;
    padding-top: 30px;
  }
  #services .service_wrap .b2 {
    grid-row: 3 / span 4;
  }
  #services .service_wrap .b3 {
    grid-row: 1 / span 2;
    height: 250px;
  }
  #services .service_wrap .b3 h4 {
    padding-bottom: 20px;
  }
  #services .service_wrap .b3 blockquote {
    width: 90%;
  }
  #services .service_wrap .b3 span {
    font-size: 14px;
  }
  #services .service_wrap .b4 {
    grid-row: 4 / span 5;
  }
  #services .service_wrap .b5 {
    grid-row: 5 / span 6;
  }
  #services .service_wrap .b5 img {
    width: 28px;
    height: 39px;
  }
  #works .works_container .works_wrap .slider_container #lightSlider {
    margin-bottom: 0px;
  }
  #works .works_container .works_wrap .slider_container .prev_btn {
    height: 15px;
    width: 15px;
    top: 60px;
    left: -50px;
  }
  #works .works_container .works_wrap .slider_container .next_btn {
    height: 15px;
    width: 15px;
    top: 60px;
    right: -50px;
  }
  #works .works_container .works_wrap .slider_container .lSPager {
    display: none;
  }
  #team .team_wrap .slider2_container #lightSlider2 .slide2 {
    height: 445px;
    width: 50%;
    max-width: 450px;
  }
  #team .team_wrap .slider2_container .prev_btn2 {
    height: 15px;
    width: 15px;
    top: 190px;
    left: -15px;
  }
  #team .team_wrap .slider2_container .next_btn2 {
    height: 15px;
    width: 15px;
    top: 190px;
    right: -15px;
  }
  #contacts #map {
    height: 600px;
  }
  #contacts .contacts_wrap form {
    top: 180px;
  }
  #contacts .top_btn {
    height: 40px;
    width: 40px;
    right: 0px;
  }
  #contacts .top_btn span {
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 8px;
  }
  #contacts .btn3_wrap {
    height: 50px;
    width: 250px;
    right: -210px;
  }
  #contacts .btn3_wrap svg {
    width: 20px;
    height: 24px;
  }
  #contacts .btn3_wrap .btn3 {
    width: 20%;
    padding-top: 12px;
  }
  #contacts .btn3_wrap .info_btn {
    width: 95%;
    font-size: 14px;
  }
  #contacts .wrap2 {
    top: 270px;
  }
  footer .footer_wrap {
    font-size: 14px;
    padding: 30px 20px 30px;
  }
  footer .footer_wrap span {
    margin-bottom: 15px;
  }
  footer .footer_wrap .social_wrap ul li img {
    width: 25px;
    height: 25px;
  }
}
